{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<!-- PAGE CONTENT WRAPPER -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-mortar-board"></span>Agregar Clase</h3>
                        </div>
                        <div class="panel-body">
                            <div class="{{estilo}}" role="alert">
                                <p class="text-center"><strong>{{mensaje}}</strong></p>
                                <p class="text-right"><a href="{% url 'clases' %}" class="btn btn-info"
                                                         style="{{stiloRegreso}}">Regresar a clases</a></p>
                            </div>
                            <form method="POST" class="form-horizontal" id="formulario"
                                  action="{% url 'clasesinsertar' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{id}}">
                                    <label class="col-md-3 col-xs-12 control-label" for="grupo">Grupo</label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-users"></span></span>
                                            <input type="text" class="form-control" name="grupo" id="grupo"
                                                   value="{{nombre}}" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label" for="apellidoPat">hora
                                        Inicio</label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control timepicker24" name="horainicio" id="horainicio"
                                                   value=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label" for="apellidoMat">Hora Fin</label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control timepicker24" name="horafin" id="horafin"
                                                   value="{{apellidoMat}}"/>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="{{id}}">

                            </form>
                        </div>
                        <center>
                            <div class="panel-footer">
                                <button type="button" id="insertar" class="btn btn-info" name="guardar" value="agregar">
                                    <span class="{{buttonStylo}}"></span>Agregar
                                </button>
                                <a class="btn btn-danger" href="{% url 'clases'%}"><span class="fa fa-ban"></span>Cancelar</a>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </div>

    </div>


    {% endblock contenido %}
    {% block js %}

    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- END PLUGINS -->
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
    <!-- END THIS PAGE PLUGINS -->
    <script type="text/javascript" src="{% static 'js/formvalidations.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-timepicker.min.js' %}"></script>
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/input-file.js' %}"></script>
    <!-- END SCRIPTS -->
    {% endblock js%}

    {% block scripts %}
    <script>
        if($(".timepicker24").length > 0)
                $(".timepicker24").timepicker({minuteStep: 5,showSeconds: true,showMeridian: false});
    </script>
    {% endblock scripts %}