<div class="message-box animated fadeIn" data-sound="alert" id="mb-confirm">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title">{{ titulo }}</div>
            <div class="mb-content">
                <p>{{ contenido }}</p>
                <p>Presione Sí si está seguro.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Si</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>