{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de Alumnos</h3>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'dashboard' %}" data-toggle="tooltip" title="" class="btn btn-info" style="margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;" data-original-title="Regresar">
                            <span class="fa fa-mail-reply"></span><h3 style="color:white;">Regresar a Dashboard</h3>
                            </a>
                            <a href="{% url 'alumnosinsert' %}" data-toggle="tooltip" title="" class="btn btn-warning" style="margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;" data-original-title="Agregar">
                            <span class="fa fa-plus-circle"></span><h3 style="color:white;">Agregar nuevo alumno</h3>
                            </a>
                        </div>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>{{message}}</strong>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-body table-responsive">
                    <table id="example" class="table datatable w-auto table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center">Id</th>
                                <th style="text-align:center">Nombre</th>
                                <th style="text-align:center">Apellido Paterno</th>
                                <th style="text-align:center">Email</th>
                                <th style="text-align:center">Status</th>
                                <th style="text-align:center">Grupo</th>
                                <th style="text-align:center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alumno in alumnos%}
                            <tr>
                                <td style="text-align:center">{{alumno.idalumno}}</td>
                                <td style="text-align:center">{{alumno.nombres}}</td>
                                <td style="text-align:center">{{alumno.apellido_paterno}}</td>
                                <td style="text-align:center">{{alumno.email}}</td>
                                {% if alumno.status == 1 %}
                                <td style="text-align:center">Activo</td>
                                {% elif alumno.status == 0 %}
                                <td style="text-align:center">Inactivo</td>
                                {% endif %}
                                <td style="text-align:center">{{alumno.idgrupo.nombre}}</td>
                                <td style="text-align:center">
                                    <a href="{% url 'alumnosupdate' alumno.idalumno %}" data-toggle="tooltip" class="btn btn-warning" style="margin:1px 2px 1px 2px;" data-original-title="Modificar">
                                        <i class="fa fa-edit"> Editar</i>
                                    </a>
                                    <a href="{%url 'alumnosDelete' alumno.idalumno %}" data-toggle="tooltip" title="" class="btn btn-danger"  style="margin:2px 2px 1px 2px;" data-original-title="Eliminar">
                                        <i class="fa fa-trash-o"> Eliminar</i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- fin panel-body table-responsive -->
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
        <!-- Fin col-md-12 -->
    </div>
    <!-- Fin row -->
</div>
<!-- END PAGE CONTENT WRAPPER -->

{% endblock contenido %}

{% block js %}
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/datatables/dataTables.buttons.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/datatables/buttons.flash.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/datatables/jszip.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/datatables/pdfmake.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/datatables/vfs_fonts.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.html5.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.print.min.js' %}"></script>

        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}


{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No se encontraron registros",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "",
            "search": "Buscar",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Previo"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf'
        ]
    } );
} );
</script>
{% endblock scripts %}
