{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del alumno para {{ action }}</h3>
                </div>

                {% if action == 'agregar' %}
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'alumnosinsert' %}" id="jvalidate">
                        {% csrf_token %}
                {% else %}
                    <form id="jvalidate" class="form-horizontal frm-alumno"  action="{% url 'alumnosupdate' id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                {% endif %}
                    <div class="panel panel-default tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#tab-first" role="tab" data-toggle="tab">Datos Personales</a>
                            </li>
                        </ul>
                        <div class="panel-body tab-content">
                            <div class="tab-pane active" id="tab-first">

                                {% if mostrar %}
                                <div class="{{estilo}}" role="alert">
                                    <center>
                                        <strong>{{mensaje}}</strong>
                                    <center>
                                </div>
                                {% endif %}

                                {% if action == 'agregar' %}
                                <div class="{{estilo}}" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <strong>{{mensaje}}</strong>
                                </div>
                                {% endif %}
                                {% if action == 'editar' %}
                                <div class="form-group">
                                    <label for="actual" class="col-md-3 col-xs-12 control-label">Actual</label>
                                    <div class="col-sm-2">
                                        <img src="{{alumno_info.imagen.url}}" class="img-responsive" style="background:white;">
                                    </div>
                                </div>
                                {%endif%}

                                <div class="form-group">
                                    <label for="imagen" class="col-md-3 col-xs-12 control-label">Imagen</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="file" name="imagen" id ="imagen" class="form-control" placeholder='Escoge una imagen' value="" multiple accept='image/*' accept="image/jpeg,image/x-png" style="{{estilofile}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nombres" class="col-md-3 col-xs-12 control-label">Nombre(s)</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" id="names" name="nombres" class="form-control" value="{{alumno_info.nombres}}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="apellidoPaterno" class="col-md-3 col-xs-12 control-label">Apellido Paterno</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" name="apellidoPaterno" class="form-control" value="{{alumno_info.apellido_paterno}}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="apellidoMaterno" class="col-md-3 col-xs-12 control-label">Apellido Materno</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" name="apellidoMaterno" class="form-control" value="{{alumno_info.apellido_materno}}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telefono" class="col-md-3 col-xs-12 control-label">Teléfono</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" name="telefono" class="form-control" value="{{alumno_info.telefono}}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-md-3 col-xs-12 control-label">Correo electrónico</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="email" name="email" class="form-control" value="{{alumno_info.email}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="facturaCsos" class="col-md-3 col-xs-12 control-label">Número de factura csos</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" name="facturaCsos" id="facturaCsos" class="form-control" value="{{alumno_info.numero_factura_csos}}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="facturaMaterial" class="col-md-3 col-xs-12 control-label">Número de factura de material</label>
                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" name="facturaMaterial" id="facturaMaterial" class="form-control" value="{{alumno_info.numero_factura_material}}"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="grupo" class="col-md-3 col-xs-12 control-label">Grupo</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select class="form-control select" name="grupo">
                                            <option value="">Seleccione un grupo</option>
                                            {% for grupo in grupos %}
                                                    {% if grupo.idgrupo == alumno_info.idgrupo.idgrupo %}
                                                        <option value="{{alumno_info.idgrupo.idgrupo}}" selected>{{alumno_info.idgrupo.nombre}}</option>
                                                    {% else %}
                                                        <option value="{{grupo.idgrupo}}">{{grupo.nombre}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'alumnos' %}" class="btn btn-warning btn-lg">Regresar</a>
                        <input type="submit" id="insertar" value="Guardar" class="btn btn-info btn-lg pull-right">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}
{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- END PLUGINS -->
<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-file-input.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- END THIS PAGE PLUGINS -->
<!-- START TEMPLATE -->
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}

{% block scripts %}
<script type="text/javascript">
$(function () {
    if($("#datepicker").length > 0){
        var f = new Date();
        var fecha = f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate();
        $("#datepicker").datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            language: 'es',
            todayBtn: 'linked'
        });
    }//end if

    jQuery.validator.addMethod("validStr", function(value, element) {
        var result = /^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/.test(value);
        return result;
    }, "No se permiten caracteres como números o símbolos distintos a letras");

    jQuery.validator.addMethod("validImgSize", function(value, element) {
        var result = true;
        if( Object.keys($('#imagen')[0].files) == '0' ){
            var fileSize = $('#imagen')[0].files[0].size;
            if (fileSize>  5000000)
                result = false;
        }
        return result;
    }, "La imagen sobrepasa el tamaño máximo: 5MB, por favor agrega una imagen de menor tamaño");



    var jvalidate = $("#jvalidate").validate({
        rules: {
            nombres: {
                required:true,
                validStr: true,
                minlength: 2,
                maxlength: 100,
            },
            apellidoPaterno: {
                required:true,
                validStr: true,
                minlength: 2,
                maxlength: 100,
            },
            apellidoMaterno: {
                required:true,
                validStr: true,
                minlength: 2,
                maxlength: 100,
            },
            telefono: {
                required:true,
                digits: true,
                minlength: 2,
                maxlength: 15,
            },
            email: {
                required: true,
                email:true,
                minlength: 2,
                maxlength: 100,
            },
            grupo: {
                required:true,
                digits: true,
                minlength: 1,
                maxlength: 1,
            },
            imagen: {
                validImgSize: true,
                accept: "image/*"
            },
            facturaCsos: {
                required: true,
                minlength: 1,
                maxlength: 100
            },
            facturaMaterial: {
                required: true,
                minlength: 1,
                maxlength: 100
            }
        },
           messages: {
               nombres: {
                   required: "Ingresa el nombre o nombres del alumno",
                   minlength: jQuery.validator.format("Al menos 2 caracteres"),
                   maxlength: jQuery.validator.format("Solo admito 100 caracteres")
               },
               apellidoPaterno: {
                   required: "Ingresa el apellido paterno",
                   minlength: jQuery.validator.format("Al menos 2 caracteres"),
                   maxlength: jQuery.validator.format("Solo admito 100 caracteres")
               },
               apellidoMaterno: {
                   required: "Ingresa el apellido materno",
                   minlength: jQuery.validator.format("Al menos 2 caracteres"),
                   maxlength: jQuery.validator.format("Solo admito 100 caracteres")
               },
               telefono: {
                   required: "Ingresa el teléfono",
                   minlength: jQuery.validator.format("Al menos 2 caracteres"),
                   digits: jQuery.validator.format("Por favor ingresa sólo números"),
                   maxlength: jQuery.validator.format("Solo admito 15 caracteres")
               },
               email:{
                   required: "Ingresa el correo electrónico",
                   minlength: jQuery.validator.format("Al menos 2 caracteres"),
                   email: jQuery.validator.format("Por favor ingresa un correo electrónico válido"),
                   maxlength: jQuery.validator.format("Solo admito 100 caracteres")
               },
               grupo: {
                   required: "Ingresa el grupo",
                   minlength: jQuery.validator.format("Al menos 1 caracteres"),
                   digits: jQuery.validator.format("Por favor selecciona un grupo"),
                   maxlength: jQuery.validator.format("Solo un grupo")
               },
               facturaCsos: {
                   required: "Ingresa la factura CSOS",
                   minlength: jQuery.validator.format("Al menos 1 caracteres"),
                   maxlength: jQuery.validator.format("Solo admito 100 caracteres")
               },
               facturaMaterial: {
                   required: "Ingresa la factura de material",
                   minlength: jQuery.validator.format("Al menos 1 caracteres"),
                   maxlength: jQuery.validator.format("Solo admito 100 caracteres")
               },
               imagen:{
                    accept: jQuery.validator.format("Sólo se aceptan imagenes con formato PNG, JPG, JPEG")
               }
           }
    });

});//end invoke jquery

</script>

{% endblock scripts %}