{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class=""></span> Formulario ciclo escolar</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            {% if mostrar %}
            <div class="{{estilo}}" role="alert">
                <center>
                    <strong>{{mensaje}}</strong>
                <center>
            </div>
            {% endif %}

            {% if action == 'agregar' %}

            <form class="form-horizontal" action="{% url 'cicloescolarinsert' %}" method="post">
                {% csrf_token %}
            {% else %}
            <form class="form-horizontal" action="{% url 'cicloescolarupdate' %}" method="post">
            {% csrf_token %}
            {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url 'cicloescolar' %}" class="btn btn-info btn-lg">Regresar</a>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            </ul>
                        </div>


                        <div class="panel-body">
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nombre del ciclo escolar</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" name="nombre" class="form-control"
                                               value="{{ciclo_info.nombre}}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Fecha de inicio</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" name="fechainicio" class="form-control datepicker"
                                               value="{{fechaInicio}}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Fecha de finalización</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" name="fechafin" class="form-control datepicker"
                                               value="{{fechaFin}}">
                                    </div>
                                </div>
                            </div>
                            {% if action == 'editar' %}
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Status</label>
                                <div class="col-md-6 col-xs-12">
                                    <select name="status" id="status" class="form-control">
                                        <option value="1" selected>Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Limpiar campos</button>
                            <button class="btn btn-primary pull-right">Guardar</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->

<!-- MESSAGE BOX confirm-->
{% if action == 'agregar' %}
{% include "alert_confirm.html" with titulo="Agregar ciclo?" contenido="Si agregas un nuevo ciclo escolar se tomara como el ciclo escolar actual" %}
{% endif %}
{% if action == 'editar' %}
{% include "alert_confirm.html" with titulo="Modificar ciclo?" contenido="Si cambias el status del ciclo escolar a inactivo se deshabilitara el ciclo escolar actual" %}
{% endif %}
<!-- END MESSAGE BOX confirm-->
{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins/validationengine/jquery.validationEngine.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/messages_es.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>

<!-- START TEMPLATE -->
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>


{% endblock js %}

{% block scripts %}
<script>
$(function () {
    if($(".datepicker").length > 0 ){
        var f = new Date();
        var fecha = f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate();
        $(".datepicker").datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            language: 'es',
            todayBtn: 'linked'
        });
    }//end if
});


</script>
{% endblock scripts %}