{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-calendar"></span> Calendar</h2>
        </div>
    </div>
    <!-- END CONTENT FRAME TOP -->
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'cicloescolarinsert' %}" class="btn btn-info btn-lg" style="margin:7px;">Agregar nuevo ciclo escolar</a>
            {% if existe == 'verdadero' %}
            <a href="{% url 'cicloescolarupdate' %}" class="btn btn-info btn-lg" style="margin:7px;">Editar ciclo escolar actual</a>
            {% endif %}
            <a href="{% url 'cicloescolarhistorico' %}" class="btn btn-info btn-lg" style="margin:7px;">Ciclos escolares anteriores - Historial</a>

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>{{message}}</strong>
                </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <!-- START CONTENT FRAME LEFT -->
    <div class="content-frame-left">
        <!--
        <h4>New Event</h4>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="new-event-text" placeholder="Event text..."/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" id="new-event">Add</button>
                </div>
            </div>
        </div>
        -->
        <h4>Grupos activos</h4>
        <div class="list-group border-bottom" id="external-eventss">
            {% for grupo in gruposActivos %}
            <a class="list-group-item external-event bg-success">{{grupo.nombre}} => {{grupo.idprofesor.nombres}} {{grupo.idprofesor.apellido_paterno}}</a>
            {% endfor %}
        </div>
    </div>
    <!-- END CONTENT FRAME LEFT -->



    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body padding-bottom-0">
        <div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body profile bg-info">
                                <div class="profile-image">
                                    <img src="http://themifycloud.com/demos/templates/joli/assets/images/users/avatar.jpg" alt="John Doe">
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        <div id="modalBody" class="modal-body"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body list-group">
                                <a href="#" class="list-group-item">
                                    <center><span class="fa fa-clock-o"><p><h4> Horario: </h4></p><h5>
                                        <div id="modalHorario" class="modal-body"></div>
                                    </h5></a>
                                    <a href="#" class="list-group-item">
                                        <span class="fa fa-home"></span>
                                        <p><h4> Aula: </h4></p><h5>
                                            <div id="modalNotas" class="modal-body"></div>
                                        </h5></a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar.</button>
                        <a class="btn btn-primary" id="eventUrl" target="_blank">Ir a asistencias.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="calendar">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
<!-- END CONTENT FRAME -->


{% endblock contenido %}


{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins/fullcalendar/fullcalendar.min.js' %}"></script>


<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}

{% block scripts %}
<script>
    $.ajax({
        url: "/eventos/",
        data: {
            'data': ''
        },
        success: function(data){

            var cantidad = data.grupos.length;
            var eventos_calendario = [];
            var lista = {};
            if(cantidad > 0){
                for(event in data.grupos){
                    lista = {};
                    lista.title = event.title;
                    lista.allday = false;
                    lista.profesor = event.nombre +' '+ event.apellidoPaterno +' '+ event.apellidoMaterno;
                    lista.horario = event.horario;
                    lista.notas = event.notas;
                    lista.start = event.start;
                    lista.end = event.end;
                    lista.color = 'green';
                    eventos_calendario.push(lista);
                }
            }


            var calendar = $('#calendar').fullCalendar({
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                week: {
                    dow: 0,
                    doy: 6 // The week that contains Jan 1st is the first week of the year.
                },
                buttonText: {
                    prev: "Ant",
                    next: "Sig",
                    today: "Hoy",
                    month: "Mes",
                    week: "Semana",
                    day: "Dia",
                    list: "Agenda"
                },
                weekLabel: "Sm",
                allDayHtml: "Todo<br/>el dia",
                eventLimitText: "mas",
                noEventsMessage: "No hay eventos para mostrar",
                editable: false,
                droppable: false,
                selectable: false,
                selectHelper: false,
                eventClick: function(event, jsEvent, view) {
                    $('#modalTitle').html(event.title);
                    $('#modalBody').html(event.nombreProfesor);
                    $('#modalHorario').html(event.horario);
                    $('#modalNotas').html(event.notas)
                    $('#eventUrl').attr('href',event.url);
                    $('#fullCalModal').modal();
                    return false;
                },
                events:eventos_calendario
            });
        }
    });
</script>
{% endblock scripts %}
