{% extends 'template_admin.html' %} 
{% load static %} 
{% block contenido %} 
                <!-- PAGE TITLE --> 
                <div class="page-title"> 
 
                    <h2><a href="{% url 'listagrupo' %}"><span class="fa fa-arrow-circle-o-left"></span></a> Pago de Colegiatura</h2> 
                </div> 
                <!-- END PAGE TITLE -->                 
                 
                <!-- PAGE CONTENT WRAPPER --> 
                <div class="page-content-wrap"> 
                 
                    <!-- TILES -->                 
                    <div class="row"> 
                                    <div class="col-md-12"> 
                                        <h3 align="center">Formulario de Colegiatura</h3> 
                                        <div class="panel-body panel-body-table table-responsive">
                                        <div class="panel panel-default text-center"> 
                                <div class="panel-heading"> 
                                    <div class="btn-group pull-right"> 
                                        
                                    <button type="button" class="btn btn-success" id="agregar">
                                        <span class="fa fa-plus-circle"></span>

                                    </div>                                     
                                     
                                </div>
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                    </button>
                                    <strong>{{message}}</strong>
                                    </div>
                                {% endfor %} 
                                        <form id="formulario" action="{% url 'colegiaturaInsert' alumno_info.idalumno %}" method="POST">
                                            {%csrf_token%}
                                             
                                            <table class="table table-bordered"> 
                                                <thead> 
                                                    <tr> 
                                                         
                                                        <th>Costo</th> 
                                                        <th>Pago</th> 
                                                        <th>Metodo de pago</th> 
                                                    </tr> 
                                                </thead> 
                                                <tbody> 
                                                        <tr> 
                                                           
                                                            <td><input type="number" min=0 name="costo" class="col-md-12"></td> 
                                                            <td><input type="number" min=0 name="pago" class="col-md-12"></td> 
                                                            <td><select class="form-control" id="tipo" name="metodo">
                                                                    
                                                                    
                                                                    <option value="Tarjeta">Tarjeta</option>
                                                                    <option value="Efectivo">Efectivo</option>
                                                                    </td>
                                                             
                                                         </tr>
                                                </tbody> 
                                            </table> 

                                        </form>                                
                                        </div> 
                                    </div>
                                </div>
                            </div>

{% endblock contenido %} 
 
{% block js %} 
        <!-- END MESSAGE BOX--> 
    <!-- START SCRIPTS --> 
        <!-- START SCRIPTS --> 
        <!-- START PLUGINS --> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script> 
        <!-- END PLUGINS --> 
         
        <!-- START THIS PAGE PLUGINS-->         
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script> 
         
        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script> 
        <!-- END THIS PAGE PLUGINS-->   
         
        <!-- START TEMPLATE --> 
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(
                function (){
                $('#agregar').on('click', function () {
                    $('#formulario').submit();
                });
            });
        </script>

        <script type="text/javascript">
            
            var formulario = $("#formulario").validate({
                        ignore: [],
                        rules: {
                            pago: {
                                required: true,
                                minlength: 2,
                                maxlength: 15,
                                number: true

                            },
                            costo: {
                                required: true,
                                minlength: 2,
                                maxlength: 15,
                                number: true
                            },
            });
        </script>

        <script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery-validation/messages_es.js' %}"></script>

       
        
        <!-- END TEMPLATE --> 
    <!-- END SCRIPTS -->          
{% endblock js %} 