{% extends 'template_admin.html' %} 
{% load static %} 
{% block contenido %} 
                <!-- PAGE TITLE --> 
                <div class="page-title"> 
 
                    <h2><a href="{% url 'listagrupo' %}"><span class="fa fa-arrow-circle-o-left"></span></a> Pago de Materiales</h2> 
                </div> 
                <!-- END PAGE TITLE -->                 
                 
                <!-- PAGE CONTENT WRAPPER --> 
                <div class="page-content-wrap"> 
                 
                    <!-- TILES -->                 
                    <div class="row"> 
                        <div class="col-md-12"> 
                            <div class="panel panel-default text-center"> 
                                <div class="panel-heading"> 
                                    <div class="btn-group pull-right"> 
                                        <a href="{% url 'materialInsert' alumno_info.idalumno %}" class="btn btn-info">Agregar Material</a>
                                    </div>                                     
                                     
                                </div> 
                                <div class="row"> 
                                <div class="col-md-12"> 
                                <div class="panel-body panel-body-table table-responsive"> 
                                    <table class="table table-bordered"> 
                                        <thead> 

                                            <tr> 
                                                <th>id</th> 
                                                <th>{{alumno_info.idalumno}}</th> 
                                            </tr> 
                                        </thead> 
                                        <tbody> 

                                            <tr> 
                                                <th>Nombre</th> 
                                                <td>{{alumno_info.nombres}}</td> 
                                            </tr> 
                                            <tr> 
                                                <th>Apellido Paterno</th> 
                                                <td>{{alumno_info.apellido_paterno}}</td> 
                                            </tr> 
                                            <tr> 
                                                <th>Apellido Materno</th> 
                                                <td>{{alumno_info.apellido_materno}}</td> 
                                            </tr>
                                            
                                            
                                        </tbody> 
                                    </table>                                 
                                </div> 
                                </div> 
                                </div> 
                                <div class="row"> 
                                    <div class="col-md-12"> 
                                        <h3 align="center">Historial de pagos de Material</h3> 
                                        <div class="panel-body panel-body-table table-responsive">
                                        <form id="formulario">
                                             
                                            <table class="table table-bordered"> 
                                                <thead> 
                                                    <tr> 
                                                        <th>Nombre</th> 
                                                        <th>Costo</th> 
                                                        <th>Pago</th> 
                                                        <th>Metodo de pago</th> 
                                                    </tr> 
                                                </thead> 
                                                 
                                            </table> 

                                        </form>                                
                                        </div> 
                                    </div> 
                                </div> 
    </div> 
{% endblock contenido %} 
 
{% block js %} 
        <!-- END MESSAGE BOX--> 
    <!-- START SCRIPTS --> 
        <!-- START SCRIPTS --> 
        <!-- START PLUGINS --> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script> 
        <!-- END PLUGINS --> 
         
        <!-- START THIS PAGE PLUGINS-->         
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script> 
         
        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script> 
        <!-- END THIS PAGE PLUGINS-->   
         
        <!-- START TEMPLATE --> 
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

        
        <!-- END TEMPLATE --> 
    <!-- END SCRIPTS -->          
{% endblock js %} 
 
 
 
 
 
 
