{% extends 'template_admin.html' %} 
{% load static %} 
{% block contenido %} 
                <!-- PAGE TITLE --> 
                <div class="page-title"> 
 
                    <h2><a href="{% url 'listagrupo' %}"><span class="fa fa-arrow-circle-o-left"></span></a> Pago de alumnos</h2> 
                </div> 
                <!-- END PAGE TITLE -->                 
                 
                <!-- PAGE CONTENT WRAPPER --> 
                <div class="page-content-wrap"> 
                 
                    <!-- TILES -->                 
                    <div class="row"> 
                        <div class="col-md-12"> 
                            <div class="panel panel-default text-center"> 
                                <div class="panel-heading"> 
                                    <div class="btn-group pull-right"> 
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos a.....</button> 
                                        <ul class="dropdown-menu"> 
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li> 
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li> 
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li> 
                                            <li class="divider"></li> 
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li> 
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li> 
                                        </ul> 
                                    </div>                                     
                                     
                                </div> 
                                <div class="row"> 
                                <div class="col-md-12"> 
                                <div class="panel-body panel-body-table table-responsive"> 
                                    <table class="table table-bordered"> 
                                        <thead> 
                                            <tr> 
                                                <th>id</th> 
                                                <th>{{alumno_info.idalumno}}</th> 
                                            </tr> 
                                        </thead> 
                                        <tbody> 

                                            <tr> 
                                                <th>Nombre</th> 
                                                <td>{{alumno_info.nombres}}</td> 
                                            </tr> 
                                            <tr> 
                                                <th>Apellido Paterno</th> 
                                                <td>{{alumno_info.apellido_paterno}}</td> 
                                            </tr> 
                                            <tr> 
                                                <th>Apellido Materno</th> 
                                                <td>{{alumno_info.apellido_materno}}</td> 
                                            </tr>
                                            <tr>
                                                <th>Por pagar</th> 
                                                <td>{{pago.pago_colegiatura}}</td> 
                                            </tr> 
                                            <tr> 
                                                <th>Costo Total</th> 
                                                <td>$2000</td> 
                                            </tr> 
 
                                        </tbody> 
                                    </table>                                 
                                </div> 
                                </div> 
                                </div> 
                                <div class="row"> 
                                    <div class="col-md-12"> 
                                        <h3 align="center">Historial de pagos de Material</h3> 
                                        <div class="panel-body panel-body-table table-responsive"> 
                                            <table class="table table-bordered"> 
                                                <thead> 
                                                    <tr> 
                                                        <th>Costo Material</th> 
                                                        <th>Pagado</th> 
                                                        <th>Fecha de Pago</th> 
                                                        <th>Metodo de pago</th> 
                                                    </tr> 
                                                </thead> 
                                                <tbody> 
                                                    {% for material in materiales %}
                                                        <tr> 
                                                            <td>{{material.costo}}</td> 
                                                            <td>{{material.pago}}</td> 
                                                            <td>{{material.fecha}}</td> 
                                                            <td>{{material.metodo}}</td> 
                                                         </tr>
                                                    {% endfor %}
                                                </tbody> 
                                            </table>                                 
                                        </div> 
                                    </div> 
                                </div> 
 
                                <div class="row"> 
                                    <div class="col-md-12"> 
                                        <h3 align="center">Historial de pagos de Colegiatura</h3> 
                                <div class="panel-body panel-body-table table-responsive"> 
                                    <table class="table table-bordered"> 
                                        <thead> 
                                            <tr> 
                                                <th>Costo Colegiatura</th> 
                                                <th>Pagado</th> 
                                                <th>Fecha de Pago</th> 
                                                <th>Metodo de Cuenta</th> 
                                            </tr> 
                                        </thead> 
                                        <tbody> 
                                            {% for colegiatura in colegiaturas %}
                                                    <tr> 
                                                        <td>{{colegiatura.costo}}</td> 
                                                        <td>{{colegiatura.pago}}</td> 
                                                        <td>{{colegiatura.fecha}}</td> 
                                                        <td>{{colegiatura.metodo}}</td> 
                                                    </tr>
                                            {% endfor %} 
                                        </tbody> 
                                    </table>                        
                                </div> 
                                </div> 
                                </div> 
                            </div> 
            </div> 
        </div> 
 
    </div> 
{% endblock contenido %} 
 
{% block js %} 
        <!-- END MESSAGE BOX--> 
    <!-- START SCRIPTS --> 
        <!-- START SCRIPTS --> 
        <!-- START PLUGINS --> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script> 
        <!-- END PLUGINS --> 
         
        <!-- START THIS PAGE PLUGINS-->         
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script> 
         
        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script> 
        <!-- END THIS PAGE PLUGINS-->   
         
        <!-- START TEMPLATE --> 
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script> 
        <!-- END TEMPLATE --> 
    <!-- END SCRIPTS -->          
{% endblock js %} 
 
 
 
 
 
 
