{%extends 'template_admin.html'%}
{% load static %}
{% block contenido %}
                <!-- PAGE CONTENT WRAPPER -->
                <div class="panel panel-default">
                <div class="panel-body">



                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                          <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Generar Excel</h3>
                                </div>
                                <div class="panel-body">
                                    <table id="example" class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Profesor</th>
                                                <th>Sucursal</th>
                                                <th>Ciclo</th>
                                                <th>Nivel</th>
                                                <th>*</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                              {% for grupo in grupos %}
                                                {% if grupo.status == 1 %}
                                                <tr class="success">
                                                {% endif %}
                                                {% if grupo.status == -1 %}
                                                <tr class="danger">
                                                {% endif %}
                                                  <td>{{grupo.nombre}}</td>
                                                  <td>{{grupo.idprofesor}}</td>
                                                  <td>{{grupo.idsucursal.nombre}}</td>
                                                  <td>{{grupo.idciclo.nombre}}</td>
                                                  <td>{{grupo.nivel}}</td>
                                                  <td><a href="{% url 'generar' grupo.idgrupo %}" class="btn btn-inf">Generar Excel</a></td>
                                                </tr>
                                              {% endfor %}
                                            </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                </div>
                        </div>
                    </div>

                </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido%}
{% block js %}
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
         <!-- THIS PAGE PLUGINS-->
        <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js'}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>


                    <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/plugins/datatables/dataTables.buttons.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/plugins/datatables/buttons.flash.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/plugins/datatables/jszip.min.js' %}"></script>
                    <script type='text/javascript' src="{% static 'js/plugins/datatables/pdfmake.js' %}"></script>
                    <script type='text/javascript' src="{% static 'js/plugins/datatables/vfs_fonts.js' %}"></script>

                    <script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.html5.min.js' %}"></script>
                    <script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.print.min.js' %}"></script>

        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
{% endblock js %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No se encontraron registros",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "",
            "search": "Buscar",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Previo"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf'
        ]
    } );
} );
</script>
{% endblock scripts %}
