{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            {% if mostrar %}
            <div class="{{estilo}}" role="alert">
                <center>
                    <strong>{{mensaje}}</strong>
                <center>
            </div>
            {% endif %}
            {% if accion == 'agregar' %}
            <form class="form-horizontal" id="jvalidate" method="POST" action="{% url 'gruposinsert' %}">
            {% else %}
            <form class="form-horizontal" id="jvalidate" method="POST" action="{% url 'gruposUpdate' id %}">
            {% endif %}
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nivel del grupo</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="nivel" value="{{grupo_info.nivel}}" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nombre del grupo</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="nombre" value="{{grupo_info.nombre}}" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Aula</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="aula" value="{{grupo_info.aula}}" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <br><br>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tipo de grupo</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="tipo" name="tipo">
                                            <option>Escoja un tipo de grupo</option>
                                                {% if tipo.tipo_grupo == None %}
                                                    <option value="Semanal">Semanal</option>
                                                    <option value="Sabatino">Sabatino</option>
                                                {% else %}
                                                        {% if tipo.tipo_grupo == grupo_info.tipo_grupo.tipo_grupo %}
                                                            <option value="{{tipo.tipo_grupo}}">{{tipo.tipo_grupo}}</option>
                                                        {% else %}
                                                            <option value="{{tipo.tipo_grupo.tipo_grupo}}">{{tipo.tipo_grupo}}</option>
                                                        {% endif %}
                                                {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Profesor asignado</label>
                                    <div class="col-md-9">
                                        <select class="form-control select" name="profesores">
                                            <option value="">Seleccione al profesor</option>
                                            {% for profesor in profesores %}
                                                {% if profesor.idprofesor == grupo_info.idprofesor.idprofesor %}
                                                    <option value="{{grupo_info.idprofesor.idprofesor}}" selected>{{grupo_info.idprofesor.nombres}}  {{grupo_info.idprofesor.apellido_paterno}} {{grupo_info.idprofesor.apellido_materno}}</option>
                                                {% else %}
                                                    <option value="{{profesor.idprofesor}}" >{{profesor.nombres}} {{profesor.apellido_paterno}} {{profesor.apellido_materno}}</option>
                                                {% endif %}
                                            {% endfor %}%}
                                        </select>
                                    </div>
                                </div>
                                <br><br>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sucursal</label>
                                    <div class="col-md-9">
                                        <select class="form-control select" name="sucursales">
                                            <option value="">Selecciona una sucursal</option>
                                                {% for sucursal in sucursales %}
                                                    {% if sucursal.idsucursal == grupo_info.idsucursal.idsucursal %}
                                                        <option value="{{grupo_info.idsucursal.idsucursal}}" selected>{{grupo_info.idsucursal.nombre}}</option>
                                                    {% else %}
                                                        <option value="{{sucursal.idsucursal}}" >{{sucursal.nombre}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Ciclo escolar</label>
                                    <div class="col-md-9">
                                        <select class="form-control select" name="cicloescolar">
                                            <option>Seleccione el ciclo escolar</option>
                                            {% for ciclo in ciclos %}
                                                {% if ciclo.idciclo == grupo_info.idciclo.idciclo %}
                                                    <option value="{{grupo_info.idciclo.idciclo}}" selected>{{grupo_info.idciclo.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{ciclo.idciclo}}">{{ciclo.nombre}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br><br>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Fecha Inicio</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="text" name="fechainicio" id="datepicker_inicio" class="form-control" value='{{grupo_info.inicia|date:"Y-m-d"}}'>
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Fecha Fin</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="text" name="fechafin" id="datepicker_fin" class="form-control" value="{{grupo_info.termina|date:'Y-m-d'}}">
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Horario</label>
                                    <div class="col-md-3">
                                        <div class="input-group bootstrap-timepicker">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="text" name="horario" value="{{grupo_info.horario}}" id="timepicker24" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Notas</label>
                                    <div class="col-md-9 col-xs-12">
                                        <textarea name="notas" class="form-control" rows="5">{{grupo_info.notas}}</textarea>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'grupos' %}" class="btn btn-danger btn-lg">Regresar</a>
                        <input type="submit" class="btn btn-success btn-lg pull-right" value="Guardar" >
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>

<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-timepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-colorpicker.js' %}"></script>

<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}

{% block scripts %}
<script>
    $(function () {

        if($("#datepicker_inicio").length > 0 && $("#datepicker_fin").length > 0 ){
            var f = new Date();
            var fecha = f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate();
            $("#datepicker_inicio").datepicker({
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                language: 'es',
                todayBtn: 'linked'
            });
            $("#datepicker_fin").datepicker({
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                language: 'es',
                todayBtn: 'linked'
            });
        }//end if

        if($("#timepicker24").length > 0)
                $("#timepicker24").timepicker({minuteStep: 5,showSeconds: true,showMeridian: false});

        jQuery.validator.addMethod("validStr", function(value, element) {
            var result = /^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/.test(value);
            return result;
        }, "No se permiten caracteres como números o símbolos distintos a letras");


        jQuery.validator.addMethod("validHour", function(value, element) {
            var result = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(value);
            console.log("veamos: "+value+"  result: "+result);
            return result;
        }, "Por favor agrega una hora con el formato: HH:MM:SS");


        var jvalidate = $("#jvalidate").validate({
            rules: {
                nivel: {
                    required: true,
                    minlength: 1,
                    maxlength: 15
                },
                profesores: {
                    required: true,
                    digits: true
                },
                sucursales: {
                    required: true,
                    digits: true
                },
                cicloescolar: {
                    required: true,
                    digits: true
                },
                fechainicio: {
                    required: true,
                    date: true
                },
                fechafin: {
                    required: true,
                    date: true
                },
                horario: {
                    required: true,
                    minlength: 1,
                    maxlength: 10,
                    validHour: true
                },
                nombre: {
                    required: true,
                    minlength: 2,
                    maxlength: 15
                },
                aula: {
                    required: true,
                    minlength: 2,
                    maxlength: 15
                },
                tipo: {
                    required: true,
                    validStr: true
                },
                notas: {
                    required: false
                },
            },
            messages: {
                nombre: {
                    required: "Ingresa el nombre del grupo",
                    minlength: jQuery.validator.format("Al menos 2 caracteres"),
                    maxlength: jQuery.validator.format("Solo admito 100 caracteres")
                },
                nivel:{
                    required:"Ingresa el nivel del grupo",
                    minlength:jQuery.validator.format("Al menos 1 caracteres"),
                    maxlength:jQuery.validator.format("Al menos 100 caracteres")
                },
                aula:{
                    required:"Ingresa el aula del grupo",
                    minlength:jQuery.validator.format("Al menos 1 caracteres"),
                    maxlength:jQuery.validator.format("Al menos 100 caracteres")
                },
                tipo:{
                    required:"Ingresa el tipo del grupo",
                    minlength:jQuery.validator.format("Al menos 1 caracteres"),
                    maxlength:jQuery.validator.format("Al menos 100 caracteres")
                },
                profesores:{
                    required:"Ingresa al profesor",
                    digits:"Solo acepto a los profesores en la lista"
                },
                sucursales:{
                    required:"Ingresa la sucursal",
                    digits:"Solo acepto las sucursales en la lista"
                },
                cicloescolar:{
                    required:"Ingresa el ciclo escolar",
                    digits:"Solo acepto los ciclos escolares en la lista"
                },
                fechainicio:{
                    required:"Ingresa la fecha de inicio",
                    date:"Ingresa una fecha con el formato: YYYY-MM-DD"
                },
                fechafin:{
                    required:"Ingresa la fecha de fin",
                    date:"Ingresa una fecha con el formato: YYYY-MM-DD"
                },
                horario:{
                    required:"Ingresa la fecha de fin",
                    minlength: jQuery.validator.format("Al menos 1 caracteres"),
                    maxlength: jQuery.validator.format("Solo admito 10 caracteres")
                }
           }
        });

    });
 </script>
{% endblock scripts %}
