{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<div class="header"></div>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="card" id="cardTabla">
              <div class="card-header"></div>
              <div class="card-body">
                <div id="General">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'gruposinsert' %}" class="btn btn-info">Agregar Grupo</a>
                    </div>


                    {{mensaje}}
                    <div class="{{estilo}}" role="alert">
                        <center>
                            <strong>{{mensaje}}</strong>
                        <center>
                    </div>
                            <div class="panel-body table-responsive">
                                <table id="example" class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Nivel Grupo</th>
                                            <th>Profesor</th>
                                            <th>Sucursal</th>
                                            <th>Horario</th>
                                            <th>Fecha de inicio</th>
                                            <th>Fecha de termino</th>
                                            <th>Ciclo Escolar</th>
                                            <th>Nombre Grupo</th>
                                            <th>Aula</th>
                                            <th>Tipo de grupo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for grupo in grupos %}
                                        <tr>
                                            <td>{{ grupo.nivel }}</td>
                                            <td>{{ grupo.idprofesor.nombres }}</td>
                                            <td>{{ grupo.idsucursal.nombre }}</td>
                                            <td>{{ grupo.horario }}</td>
                                            <td>{{ grupo.inicia }}</td>
                                            <td>{{ grupo.termina }}</td>
                                            <td>{{ grupo.idciclo.nombre }}</td>
                                            <td>{{ grupo.nombre }}</td>
                                            <td>{{ grupo.aula }}</td>
                                            <td>{{grupo.tipo_grupo}}</td>
                                            <td>
                                            <div class="btn-group btn-group-sm">
                                                <a href="{% url 'gruposUpdate' grupo.idgrupo  %}" data-toggle="tooltip" class="btn btn-warning btn-lg " style="margin: 5px;" data-original-title="Modificar"> <span class="fa fa-edit"> Editar</span></a>
                                                <a href="{% url 'gruposDelete' grupo.idgrupo %}" data-toggle="tooltip" class="btn btn-danger btn-lg " style="margin: 5px;" data-original-title="Eliminar"><span class="fa fa-trash-o"> Eliminar</span></a>
                                                <a href="{% url 'gruposAsistencia' grupo.idgrupo %}" data-toggle="tooltip" class="btn btn-success btn-lg " style="margin:5px;" data-original-title ="Asistencias"><span class="fa fa-users"></span> Asistencias</a>
                                            </div>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
    </div>
        </div>
</div>
</div>
            <!-- AQUI TERMINA EL CONTENIDO -->

{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/datatables/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/datatables/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/datatables/jszip.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/datatables/pdfmake.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/datatables/vfs_fonts.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.html5.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No se encontraron registros",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "",
            "search": "Buscar",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Previo"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf'
        ]
    } );
} );
</script>
{% endblock scripts %}
