{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <div class="header"></div>
                <!-- PAGE CONTENT WRAPPER -->
                <!-- Inicia el CONTENIDO-->
<div class="page-title">
    <h2>Grupos dados de alta</h2>
</div>
<div class="page-content-wrap">
    <div class="row">
<div class="card" id="cardTabla">
  <div class="card-header"></div>
  <div class="card-body">
    <div id="General">

    <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Exportación de datos</h2>
                                    <a href="{% url 'gruposinsert' %}" class="btn btn-info">Agregar Grupo</a>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">
                                            <li class="divider"></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src="{% static '/img/icons/xls.png' %}" id="imgD">  Excel</a></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src="{% static 'img/icons/word.png' %}" id="imgD"> Word</a></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src="{% static 'img/icons/ppt.png' %}" id="imgD"> PowerPoint</a></li>
                                            <li><a href="#" onclick="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src="{% static 'img/icons/pdf.png' %}" id="imgD"> PDF</a></li>
                                        </ul>
                                    </div>                                    
                                    
                                </div>

                                <div class="panel-body table-responsive">
                                    <table id="customers2" class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Nombre Grupo</th>
                                                <th>Sucursal</th>
                                                <th>Horario</th>
                                                <th>Fecha de inicio</th>
                                                <th>Fecha de termino</th>
                                                <th>Ciclo Escolar</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de Zaragoza</td>
                                                <td>9:00 a 11:00</td>
                                                <td>12/09/19</td>
                                                <td>12/11/19</td>
                                                <td>2019-C</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a>  <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Intermedio</td>
                                                <td>Sucursal de la paz</td>
                                                <td>9:00 a 11:00</td>
                                                <td>12/09/19</td>
                                                <td>12/12/19</td>
                                                <td>2019-C</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico superior</td>
                                                <td>Sucursal de pantitlan</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/05/19</td>
                                                <td>10/07/19</td>
                                                <td>2019-A</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Superiror</td>
                                                <td>Sucursal de la paz</td>
                                                <td>9:00 a 12:00</td>
                                                <td>01/05/19</td>
                                                <td>01/08/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Superior Avanzado</td>
                                                <td>Sucursal de pantitlan</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico Avanzado</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Superior Avanzado</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Medio</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Superior</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Medio</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Medio</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Superior</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Avanzado</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Medio</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Básico</td>
                                                <td>Sucursal de la paz</td>
                                                <td>13:00 a 17:00</td>
                                                <td>01/02/19</td>
                                                <td>01/05/19</td>
                                                <td>2019-B</td>
                                                <td>
                                                <div class="btn-group btn-group-sm">
                                                <a href="{% url 'modificar' %}" data-toggle="tooltip" class="btn btn-warning fa fa-edit" data-original-title="Modificar"></a>    <a href="#" data-toggle="tooltip" class="btn btn-danger fa fa-trash-o" data-original-title="Eliminar"></a> <a href="{% url 'grupos/asistencia'%}" data-toggle="tooltip" class="btn btn-success fa fa-users" data-original-title="Asistencias"></a>
                                                </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                    
                                </div>
                            </div>  
    

                
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
    </div>
</div>
</div>
            <!-- AQUI TERMINA EL CONTENIDO -->

{% endblock contenido %}

{% block js %}
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/rickshaw/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/rickshaw/rickshaw.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>        <!-- END THIS PAGE PLUGINS-->


        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jquery.base64.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/html2canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/sprintf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/jspdf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableexport/jspdf/libs/base64.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->
        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/demo_dashboard.js' %}"></script>
        <!-- END TEMPLATE -->
{% endblock js %}
