{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
{% csrf_token %}

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <div class="col-md-3" id="Tarjetas">
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-user"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{alumnos}}</div>
                <div class="widget-title">Alumnos Registrados</div>
                <div class="widget-subtitle">En Hammer Sharp</div>
            </div>
        </div>
    </div>

    <div class="col-md-3" id="Tarjetas3">
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-user"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{profesores}}</div>
                <div class="widget-title">Profesores Registrados</div>
                <div class="widget-subtitle">En Hammer Sharp</div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="Tarjetas2">
        <div class="widget widget-default widget-item-icon">
            <div class="widget-item-left">
                <span class="fa fa-user"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">{{grupos}}</div>
                <div class="widget-title">Grupos</div>
                <div class="widget-subtitle">En Hammer Sharp</div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="clock">
        <div class="widget widget-info widget-padding-sm">
            <div class="widget-big-int plugin-clock"><p id="fecha"></p><p id="reloj"></p></div>
        </div>
    </div>

   <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Cerrar</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body profile bg-info">
                            <div class="profile-image">
                                <img src="http://themifycloud.com/demos/templates/joli/assets/images/users/avatar.jpg" alt="John Doe">
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">
                                    <p>Profesor</p>
                                        <b>
                                            <div id="modalBody" class="modal-body"></div>
                                        </b>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body list-group">
                            <center>
                                <a href="#" class="list-group-item">
                                    <span class="fa fa-clock-o"></span>
                                    <h3> Horario: </h3>
                                    <h5>
                                    <div id="modalHorario" class="modal-body"></div>
                                    </h5>
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="fa fa-home"></span>
                                    <h3> Aula: </h3>
                                    <div id="modalAula" class="modal-body"></div>
                                    <h3>Notas: </h3>
                                    <div id="modalNotas" class="modal-body"></div>
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar.</button>
                    <a class="btn btn-primary" id="eventUrl" target="_blank">Ir a asistencias.</a>
                </div>
            </div>
        </div>
    </div>





        <div class="row">
            <div class="col-md-12">
                <div id="alert_holder"></div>
                <div class="calendar">
                    <div id="calendario"></div>
                </div>
            </div>
        </div>


    <!-- END CONTENT FRAME BODY -->

</div>
<!-- END CONTENT FRAME -->
{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/fullcalendar/fullcalendar.min.js' %}"></script>

<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->

<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}

{% block scripts %}


<script>

    $.ajax({
        url:"/eventos/",
        data: {
            'data': ''
        },
        success:function(data) {
            i=1;
            var cantidad = data.grupos.length;
            var eventos_calendario = [];
            var lista = {};
            if(cantidad > 0){
                for(event in data.grupos){

                    lista = {};
                    lista.id = data.grupos[event].id;
                    lista.title = data.grupos[event].title;
                    lista.allday = false;
                    lista.profesor = data.grupos[event].nombre +' '+ data.grupos[event].apellidoPaterno +' '+ data.grupos[event].apellidoMaterno;
                    lista.horario = data.grupos[event].horario;
                    lista.notas = data.grupos[event].notas;
                    //lista.start = data.grupos[event].start;
                    lista.start = data.grupos[event].start +' '+ data.grupos[event].horario;
                    //lista.end = data.grupos[event].end;
                    lista.end = data.grupos[event].end + ' ' + '08:00:00';
                    lista.color = 'green';
                    eventos_calendario.push(lista);
                }
                console.log(eventos_calendario);
            }
            var calendario = $('#calendario').fullCalendar({
                    monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
                    dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'],
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    week: {
                        dow: 0,
                        doy: 6 // The week that contains Jan 1st is the first week of the year.
                    },
                    buttonText: {
                        prev: "Anterior",
                        next: "Siguiente",
                        today: "Hoy",
                        month: "Mes",
                        week: "Semana",
                        day: "Dia",
                        list: "Agenda"
                    },
                    weekLabel: "Semana",
                    allDayHtml: "Todo<br/>el dia",
                    eventLimitText: "Más",
                    noEventsMessage: "No hay eventos para mostrar",
                    editable: false,
                    droppable: false,
                    selectable: false,
                    selectHelper: false,

                    eventClick:  function(event, jsEvent, view) {
                        $('#modalTitle').html(event.title);
                        $('#modalBody').html(event.profesor);
                        $('#modalHorario').html(event.horario);
                        $('#modalNotas').html(event.notas);
                        $('#modalAula').html('B-512');
                        //$('#eventUrl').attr('href','grupos/asistencia/'+event.id);
                        $('#eventUrl').attr('href','/grupos/asistencia/');
                        $('#fullCalModal').modal();
                        return false;
                    },
                 events:eventos_calendario
            });
        }
    });
</script>
<script type="text/javascript">

    function setReloj(){
        momentoActual = new Date()
        hora = momentoActual.getHours()
        minuto = momentoActual.getMinutes()
        segundo = momentoActual.getSeconds()

        str_segundo = new String (segundo)
        if (str_segundo.length == 1)
        segundo = "0" + segundo

        str_minuto = new String (minuto)
        if (str_minuto.length == 1)
        minuto = "0" + minuto

        str_hora = new String (hora)
        if (str_hora.length == 1)
        hora = "0" + hora

        horaImprimible = hora + " : " + minuto + " : " + segundo

        $("#reloj").text(horaImprimible);
        setTimeout("setReloj()",1000);
    }
    setReloj();
    const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
      "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
    ];
    var today = new Date();
    var dd = today.getDate();
    var mm = monthNames[today.getMonth()];
    var yyyy = today.getFullYear();

    if(dd<10)
        dd = '0'+dd

    if(mm<10)
        mm = '0'+mm

    today = dd + ' de ' + mm + ' de ' + yyyy;
    $("#fecha").text(today);
</script>
{% endblock scripts %}
