{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">

                    <h2>
                        <a href="{% url 'profesorespagos' %}" class="btn btn-info btn-lg">Regresar
                            <span class="fa fa-arrow-circle-o-left"></span>
                        </a> Historial de pagos
                    </h2>
                    <br>

                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <!-- TILES -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default text-center">
                                <div class="row">
                                <div class="col-md-12">
                                <div class="panel-body panel-body-table table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Nombre</th>
                                                <td>{{profesor.nombres}}</td>
                                            </tr>
                                            <tr>
                                                <th>Apellido Paterno</th>
                                                <td>{{profesor.apellido_paterno}}</td>
                                            </tr>
                                            <tr>
                                                <th>Apellido Materno</th>
                                                <td>{{profesor.apellido_materno}}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono</th>
                                                <td>{{profesor.telefono}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{profesor.email}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 align="center">Pagos realizados</h3>
                                        <div class="panel-body panel-body-table table-responsive">
                                            <table id="example" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center;">Concepto</th>
                                                        <th style="text-align:center;">Descripción</th>
                                                        <th style="text-align:center;">Fecha de Pago</th>
                                                        <th style="text-align:center;">Cantidad pagada</th>
                                                        <th style="text-align:center;">I.V.A</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pago in pagos %}
                                                        <tr>
                                                            <td style="text-align:center;">{{pago.concepto}}</td>
                                                            <td style="text-align:center;">{{pago.descripcion}}</td>
                                                            <td style="text-align:center;">{{pago.fecha_pago}}</td>
                                                            <td style="text-align:center;">{{pago.pago}}</td>
                                                            <td style="text-align:center;">{% if pago.iva == 1 %}  Sí (16%) {% else %} No {% endif %}</td>
                                                         </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
            </div>
        </div>

    </div>
{% endblock contenido %}

{% block js %}
        <!-- END MESSAGE BOX-->
    <!-- START SCRIPTS -->
        <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

                    <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/plugins/datatables/dataTables.buttons.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/plugins/datatables/buttons.flash.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/plugins/datatables/jszip.min.js' %}"></script>
                    <script type='text/javascript' src="{% static 'js/plugins/datatables/pdfmake.js' %}"></script>
                    <script type='text/javascript' src="{% static 'js/plugins/datatables/vfs_fonts.js' %}"></script>

                    <script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.html5.min.js' %}"></script>
                    <script type='text/javascript' src="{% static 'js/plugins/datatables/buttons.print.min.js' %}"></script>
        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
{% endblock js %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No se encontraron registros",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "",
            "search": "Buscar",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Previo"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf'
        ]
    } );
} );
</script>
{% endblock scripts %}




