{% extends 'template_admin.html' %} 
{% load static %} 
{% block contenido %} 
                 
                <!-- PAGE TITLE --> 
                <div class="page-title">                    
                    <h2><a href="{% url 'listagrupo' %}"><span class="fa fa-arrow-circle-o-left"></span></a> Pago de alumnos.</h2> 
                </div> 
                <!-- END PAGE TITLE -->                 
                 
                <!-- PAGE CONTENT WRAPPER --> 
                <div class="page-content-wrap"> 
                 
                    <!-- TILES -->                 
                    <div class="row"> 
                        <div class="col-md-12"> 
                            <div class="btn-group btn-group-sm pull-right"> 
                                                <a href="{% url 'listagrupo' %}" data-toggle="tooltip" class="btn btn-info fa fa-mail-reply" data-original-title="Regresar"></a> 
                                                <a href="#" data-toggle="tooltip" class="btn btn-success fa fa-save" data-original-title="Guardar"></a></div> 
                        <div class="panel panel-default tabs"> 
                                <ul class="nav nav-tabs nav-justified"> 
                                    <li class="active"><a href="#tab1" data-toggle="tab">Lista de Alumnos</a></li> 
                                    <li><a href="#tab2" data-toggle="tab">Pago de Material</a></li> 
                                    <li><a href="#tab3" data-toggle="tab">Pago de Colegiatura</a></li> 
                                </ul> 
                                <div class="panel-body tab-content"> 
                                    <div class="tab-pane active" id="tab1"> 
                                        <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                </div> 
                                <div class="panel-body table-responsive text-center"> 
                                    <p>Lista de los alumnos del grupo.</p> 
                                    <table class="table table-bordered"> 
 
                                        <thead>                                             
                                            <tr> 
                                                <th>id</th> 
                                                <th>Nombre(s)</th> 
                                                <th>Apellido Paterno</th> 
                                                <th>Apellido Materno</th> 
                                                <th>Costo Total</th> 
                                                <th>Historial de pago</th> 
                                            </tr>                                             
                                        </thead> 
                                        <tbody>
                                            {% for alumno in alumnos %}
                                            <tr> 
                                                <td>{{alumno.idalumno}}</td> 
                                                <td>{{alumno.nombres}}</td> 
                                                <td>{{alumno.apellido_paterno}}</td> 
                                                <td>{{alumno.apellido_materno}}</td> 
                                                <td>$2000</td> 
                                                <td> 
                                                    
                                                    <div class="btn-group btn-group-sm"> 
                                                        <a href="{% url 'facturacion' alumno.idalumno %}" data-toggle="tooltip" class="btn btn-success" data-original-title="Historial de Pagos"><span class="fa fa-eye"></span></a> 
                                                    </div> 
                                                </td> 
                                                
                                            </tr> 
                                            {% endfor %}
                                        </tbody> 
                                    </table>                                 
                                </div> 
                            </div> 
                                    </div> 
                                    <div class="tab-pane" id="tab2"> 
                                        <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                </div> 
                                <div class="panel-body table-responsive text-center"> 
                                    <p>Pagos de Material.</p> 
                                    <table class="table table-bordered"> 
                                        <thead> 
                                            <tr> 
                                                <th>id</th> 
                                                <th>Nombre(s)</th> 
                                                <th>Apellido Paterno</th> 
                                                <th>Apellido Materno</th> 
                                            
                                                <th>Producto</th> 
                                                <th>Otra compra</th> 
                                             
                                            </tr> 
                                        </thead> 
                                        <tbody> 
                                            {% for material in materiales %}
                                            <tr> 
                                                <td>{{material.idalumno.idalumno}}</td> 
                                                <td>{{material.idalumno.nombres}}</td> 
                                                <td>{{material.idalumno.apellido_paterno}}</td> 
                                                <td>{{material.idalumno.apellido_materno}}</td>  
                                                <td>{{material.nombre}}</td> 
                                                <td>
                                                    <a href="{% url 'compraMaterial' material.idalumno.idalumno %}" data-toggle="tooltip" class="btn btn-success" data-original-title="Historial de Pagos"><span class="fa fa-plus-circle"></span></a> 
                                                </td>                                                 
                                            </tr> 
                                            {% endfor %}
                                        </tbody> 
                                    </table>                                 
                                </div> 
                            </div> 
                                    </div> 
                                    <div class="tab-pane" id="tab3"> 
                                        <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                </div> 
                                <div class="panel-body table-responsive text-center"> 
                                    <p>Pagos de colegiatura.</p> 
                                    <table class="table table-bordered"> 
                                        <div class="btn-group btn-group-sm pull-right"> 
                                                </div> 
                                        <thead> 
                                            <tr> 
                                                <th>id</th> 
                                                <th>Nombre(s)</th> 
                                                <th>Apellido Paterno</th> 
                                                <th>Apellido Materno</th> 
                                                <th>Costo Total</th> 
                                                <th>Pagar colegiatura</th> 
                                            </tr> 
                                        </thead> 
                                        <tbody> 
                                            {% for alumno in alumnos %}
                                            <tr> 
                                                <td>{{alumno.idalumno}}</td> 
                                                <td>{{alumno.nombres}}</td> 
                                                <td>{{alumno.apellido_paterno}}</td> 
                                                <td>{{alumno.apellido_materno}}</td>  
                                                <td>$2000</td> 
                                                <td> 
                                                    
                                                    <div class="btn-group btn-group-sm"> 
                                                        <a href="{% url 'pagoColegiatura' alumno.idalumno %}" data-toggle="tooltip" class="btn btn-success" data-original-title="Historial de Pagos"><span class="fa fa-money"></span></a> 
                                                    </div> 
                                                </td> 
                                                
                                            </tr> 
                                            {% endfor %}
                                        </tbody> 
                                    </table>                           
                                </div> 
                            </div> 
                                    </div>                         
                                </div> 
                            </div> 
            </div> 
        </div> 
 
    </div> 
        <!-- END MESSAGE BOX--> 
{% endblock contenido %} 
 
{% block js %} 
 
                 
    <!-- START SCRIPTS --> 
        <!-- START PLUGINS --> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script> 
        <!-- END PLUGINS --> 
         
        <!-- START THIS PAGE PLUGINS-->         
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script> 
         
        <script type="text/javascript" src="{% static 'js/demo_tables.js' %}"></script> 
        <!-- END THIS PAGE PLUGINS-->   
         
        <!-- START TEMPLATE --> 
         
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/validaciones.js' %}"></script>
         
        <!-- END TEMPLATE --> 
    <!-- END SCRIPTS --> 
 
{% endblock js %} 
 
 
 
 