{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
 <!-- START BREADCRUMB -->
                <ul class="breadcrumb">

                </ul>
                <div class="page-content-wrap">

                    <div class="row">

                        <div class="col-md-12">
                            {% if mostrar %}
                            <div class="{{success}}" role="alert">
                                <center>
                                    <strong>{{mensaje}}</strong>
                                <center>
                            </div>
                            {% endif %}

                        {% if accion == 'agregar' %}
                            <form id="formulario" class="form-horizontal" method="post" action="{% url 'pagosagregarprofesores' id %}">
                        {% else %}
                            <form id="formulario" class="form-horizontal" method="post" action="{% url 'pagoseditarprofesores' id %}">
                        {% endif%}
                            {%csrf_token%}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Registrar pago de profesor</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <p>Por favor ingrese los datos correspondientes al pago</p>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Profesor</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                <select class="form-control select" name="profesor" id="">
                                                    {% if profesores %}
                                                        {% for profe in profesores %}
                                                            <option value="{{profe.idprofesor}}">{{ profe.nombres }} {{profe.apellido_paterno}} {{profe.apellido_materno}}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        <option value="">No se encontró al profesor</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Concepto</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                                                <input type="text" name="concepto" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Fecha de pago</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="text" name="fecha_pago" id="datepicker" class="form-control datepicker" value="" placeholder="YYYY-mm-dd">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Descripción</label>
                                        <div class="col-md-6 col-xs-12">
                                            <textarea class="form-control" name="descripcion" rows="5"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3  control-label">Total a pagar</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-money"></span></span>
                                                <input type="text" class="form-control" name="pago">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">I.V.A</label>
                                        <div class="col-md-6 col-xs-12">
                                            <label class="check"><input type="checkbox" name="iva" class="icheckbox" checked="checked"/> Sí (16 %)</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <a href="{% url 'profesorespagos' %}" class="btn btn-warning btn-lg">Regresar</a>
                                    {% if profesores %}
                                        <button id="insertar" class="btn btn-info btn-lg pull-right">Guardar</button>
                                    {% endif %}
                                </div>
                            </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}

{% block js %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
<!-- END THIS PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}


{% block scripts %}
<script>
$(function() {

    if($("#datepicker").length > 0){
        var f = new Date();
        var fecha = f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate();
        $("#datepicker").datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            language: 'es',
            todayBtn: 'linked'
        });
    }

    $("#insertar").on("click",function(){
      $( "#formulario" ).validate({
           rules: {
                   profesor: {
                           required: true,
                           digits: true
                   },
                   concepto:{
                          required:true,
                          minlength:3,
                          maxlength:100
                   },
                   descripcion:{
                          required:true,
                          minlength:3,
                          maxlength:100
                   },
                   descripcion:{
                          required:true,
                          minlength:1,
                          maxlength:200
                   },
                   fecha_pago:{
                          required:true,
                          date: true
                   },
                   pago:{
                          required:true,
                          number: true
                   },
           },
           messages: {
                   nombre_sucursal: {
                           required: "Ingresa el nombre de la sucursal",
                           minlength: jQuery.validator.format("Al menos 3 caracteres"),
                           maxlength: jQuery.validator.format("Solo admito 100 caracteres")
                   },
                   direccion_sucursal:{
                          required:"Ingresa la dirección de la sucursal",
                          minlength:jQuery.validator.format("Al menos 3 caracteres"),
                          maxlength:jQuery.validator.format("Al menos 100 caracteres")
                   }
           }
      });
   });

});
</script>

{% endblock scripts %}


