{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
<!-- PAGE CONTENT WRAPPER -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del profesor</h3>
                </div>
                <div class="panel-body">
                    <div class="{{estilo}}" role="alert">
                           <p class="text-center"><strong>{{mensaje}}</strong></p>
                    </div>
                    {% if operacion == 'agregar' %}
                    <form method="POST" class="form-horizontal" id="jvalidate" action="{% url 'profesoresinsert' %}">
                    {% else %}
                    <form method="POST" class="form-horizontal" id="jvalidate" action="{% url 'profesoresupdate' id %}">
                    {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="id" value="{{id}}">
                            <label class="col-md-3 col-xs-12 control-label" for="nombre">Nombre(s)</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="nombres" id="nombres" value="{{nombre}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label" for="apellidoPat">Apellido Paterno</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="apellido_pat" id="apellidoPat" value="{{apellidoPat}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label" for="apellidoMat">Apellido Materno</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="apellido_mat" id="apellidoMat" value="{{apellidoMat}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label" for="telefono">Teléfono</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                    <input type="text" class="form-control" name="telefono" id="telefono" value="{{telefono}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label" for="email">Correo electrónico</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                    <input type="text" class="form-control" name="email" id="email" value="{{email}}"/>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="operacion" value="{{operacion}}">
                        <div class="panel-footer">
                            <a class="btn btn-warning btn-lg" href="{% url 'profesores'%}"><span class="fa fa-ban" ></span>Regresar</a>
                            <input type="submit" id="insertar" value="Guardar" class="btn btn-info btn-lg pull-right">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}

{% block js %}
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- END PLUGINS -->
<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- END THIS PAGE PLUGINS -->
<!-- START TEMPLATE -->
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
{% endblock js %}

{% block scripts %}
<script>
    $(function () {

        jQuery.validator.addMethod("validStr", function(value, element) {
            var result = /^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/.test(value);
            return result;
        }, "No se permiten caracteres como números o símbolos distintos a letras");

        /*
        jQuery.validator.addMethod("validMXPhone", function(value, element) {
            var result = /^[0-9\s]+$/.test(value);
            console.log("veamos: "+value+"  result: "+result);
            return result;
        }, "No se permiten caracteres como números o símbolos distintos a letras");
        */

        var jvalidate = $("#jvalidate").validate({
            rules: {
                nombres: {
                    validStr: true,
                    required: true,
                    minlength: 3,
                    maxlength: 100
                },
                apellido_pat:{
                    validStr: true,
                    required:true,
                    minlength:3,
                    maxlength:100
                },
                apellido_mat:{
                    validStr: true,
                    required:true,
                    minlength:3,
                    maxlength:100
                },
                telefono:{
                    required:true,
                    minlength:8,
                    maxlength:15,
                    digits:true
                },
                email:{
                    required: true,
                    email: true,
                    maxlength:50,
                }
            },
            messages: {
                nombres: {
                    required: "Ingresa tu nombre",
                    minlength: jQuery.validator.format("Al menos 3 caracteres"),
                    maxlength: jQuery.validator.format("Solo admito 100 caracteres")
                },
                apellido_pat:{
                    required:"Ingresa tu Apellido Paterno",
                    minlength:jQuery.validator.format("Al menos 3 caracteres"),
                    maxlength:jQuery.validator.format("Al menos 100 caracteres")
                },
                apellido_mat:{
                    required:"Ingresa tu Apellido Paterno",
                    minlength:jQuery.validator.format("Al menos 3 caracteres"),
                    maxlength:jQuery.validator.format("Al menos 100 caracteres")
                },
                telefono:{
                    required:"Ingresa tu numero telefonico",
                    minlength:jQuery.validator.format("Al menos 8 caracteres"),
                    maxlength:jQuery.validator.format("Solo admito hasta 15 caracteres"),
                    digits:"Solo numeros"
                },
                email:{
                    required:"Ingresa tu email",
                    email:"Ingresa un correo váldio",
                    maxlength:jQuery.validator.format("Solo admito hasta 50 caracteres")
                }
           }
        });
    });
 </script>
{% endblock scripts %}
