{%extends 'template_admin.html'%}
{% load static %}
{% block contenido %}
                <!-- PAGE CONTENT WRAPPER -->
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-3">
                            <div class="widget widget-primary widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-mortar-board"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">{{total_profesores}}</div>
                                    <div class="widget-title">Profesores en Total</div>
                                    <div class="widget-subtitle">Listos para enseñar</div>
                                </div>
                                <div class="widget-controls">
                                    <!--Put the controls here-->
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-info widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-mortar-board"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">{{profesores_activos}}</div>
                                    <div class="widget-title">Profesores Activos</div>
                                    <div class="widget-subtitle">Listos para enseñar</div>
                                </div>
                                <div class="widget-controls">
                                    <!--Put the controls here-->
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-warning widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-mortar-board"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">{{profesores_inactivos}}</div>
                                    <div class="widget-title">Profesores Inactivos</div>
                                    <div class="widget-subtitle"></div>
                                </div>
                                <div class="widget-controls">
                                    <!--Put the controls here-->
                                </div>
                            </div>
                    </div>


                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                          <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Profesores</h3>
                                    <div class="pull-right">
                                        <div class="btn-group btn-group-sm">
                                            <a href="{% url 'dashboard' %}" data-toggle="tooltip" title="" class="btn btn-info" style="margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;" data-original-title="Regresar">
                                            <span class="fa fa-mail-reply"></span><h3 style="color:white;">Regresar a Dashboard</h3>
                                            </a>
                                            <a href="{% url 'profesoresinsert' %}" data-toggle="tooltip" title="" class="btn btn-warning" style="margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;" data-original-title="Agregar">
                                            <span class="fa fa-plus-circle"></span><h3 style="color:white;">Agregar nuevo profesor</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table id="example" class="table datatable">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Nombre</th>
                                                <th style="text-align:center">Apellido Paterno</th>
                                                <th style="text-align:center">Apellido Materno</th>
                                                <th style="text-align:center">Telefono</th>
                                                <th style="text-align:center">Correo</th>
                                                <th style="text-align:center">Estatus</th>
                                                <th style="text-align:center">Modificar</th>
                                                <th style="text-align:center">Eliminar</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                              {% for profesor in profesores %}
                                                {% if profesor.status == 1 %}
                                                <tr class="success">
                                                {% endif %}
                                                {% if profesor.status == -1 %}
                                                <tr class="danger">
                                                {% endif %}
                                                  <td style="text-align:center">{{profesor.nombres}}</td>
                                                  <td style="text-align:center">{{profesor.apellido_paterno}}</td>
                                                  <td style="text-align:center">{{profesor.apellido_materno}}</td>
                                                  <td style="text-align:center">{{profesor.telefono}}</td>
                                                  <td style="text-align:center">{{profesor.email}}</td>
                                                  {% if profesor.status == 1 %}
                                                  <td style="text-align:center">Activo</td>
                                                  {% endif %}
                                                  {% if profesor.status == -1 %}
                                                  <td style="text-align:center">Inactivo</td>
                                                  {% endif %}
                                                  <td style="text-align:center"><a class="btn btn-warning btn-block" href="{% url 'profesoresupdate' profesor.idprofesor%}"><span class="   fa fa-eye"></span>Modificar</a></td>
                                                  <td style="text-align:center"><a class="btn btn-danger btn-block" href="{% url 'profesoresdelete' profesor.idprofesor%}"><span class="   fa fa-eye"></span>Eliminar</a></td>
                                                </tr>
                                              {% endfor %}
                                            </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                </div>
                        </div>
                    </div>

                </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido%}
{% block js %}
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->
         <!-- THIS PAGE PLUGINS-->
        <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js'}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
{% endblock js %}


{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No se encontraron registros",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "",
            "search": "Buscar",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Previo"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf'
        ]
    } );
} );
</script>
{% endblock scripts %}