{% extends 'template_admin.html' %}
{% load static %}
{% block contenido %}
                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Formulario Sucursales</h2>
                </div>
                <!-- END PAGE TITLE -->
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            {% if mostrar %}
                            <div class="{{success}}" role="alert">
                                <center>
                                    <strong>{{mensaje}}</strong>
                                <center>
                            </div>
                            {% endif %}
                            <!-- <form class="form-horizontal"> -->
                            {% if accion == 'agregar' %}
                                <form id="formulario" class="form-horizontal" action="{% url 'sucursalesinsert' %}" method="post">
                            {% else %}
                                <form id="formulario" class="form-horizontal" action="{% url 'sucursalesUpdate' id %}" method="post">
                            {% endif %}
                            {%csrf_token%}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{% url 'sucursales' %}" class="btn btn-info btn-lg">Regresar</a>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Nombre de sucursal</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name="nombre_sucursal"  value="{{nombre_sucursal}}"  class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Dirección</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name="direccion_sucursal" value="{{direccion_sucursal}}" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default">Limpiar campos</button>
                                    <button id="insertar" class="btn btn-primary pull-right">Guardar</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
{% endblock contenido %}

{% block js %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-file-input.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>
        <!-- END THIS PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

{% endblock js %}

{% block scripts %}
<script>
$(function() {
  $("#insertar").on("click",function(){
      $( "#formulario" ).validate({
           rules: {
                   nombre_sucursal: {
                           required: true,
                           minlength: 3,
                           maxlength: 100
                   },
                   direccion_sucursal:{
                          required:true,
                          minlength:3,
                          maxlength:100
                   }
           },
           messages: {
                   nombre_sucursal: {
                           required: "Ingresa el nombre de la sucursal",
                           minlength: jQuery.validator.format("Al menos 3 caracteres"),
                           maxlength: jQuery.validator.format("Solo admito 100 caracteres")
                   },
                   direccion_sucursal:{
                          required:"Ingresa la dirección de la sucursal",
                          minlength:jQuery.validator.format("Al menos 3 caracteres"),
                          maxlength:jQuery.validator.format("Al menos 100 caracteres")
                   }
           }
      });
   });
});

</script>
{% endblock scripts %}