{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- META SECTION -->
        <title>Hamersharp:Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>

        <!-- EOF CSS INCLUDE -->
        <style>
          @media screen and (max-width: 400px){
            #titulo{font-size: 16px;}
          }
        </style>
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar" style="overflow-y:scroll;">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="{% url 'dashboard' %}">Hamersharp</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="{% static 'img/avatar.jpg' %}" alt="Usuario"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="{% static 'img/avatar.jpg' %}" alt="Usuario"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">Bienvenido</div>
                            </div>
                        </div>
                    </li>
                    <li class="xn-title">Menú</li>
                    <li class="{% if pagina == 'dashboard' %}active{% endif %}">
                        <a href="{% url 'dashboard' %}"><span class="fa fa-home"></span><span class="xn-text">Inicio</span></a>
                    </li>
                    <li class="{% if pagina == 'alumnos' %}active{% endif %}">
                        <a href="{% url 'alumnos' %}"><span class="fa fa-users"></span> <span class="xn-text">Alumnos</span></a>
                    </li>
                    <li class="{% if pagina == 'profesores' %}active{% endif %}">
                        <a href="{% url 'profesores' %}"><span class="fa fa-male"></span> <span class="xn-text">Profesores</span></a>
                    </li>
                    <li class="xn-openable {% if pagina == 'grupos' %}active{% endif %}">
                        <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Grupos</span></a>
                        <ul>
                            <li class="{% if pagina == 'grupos' %}active{% endif %}"><a href="{% url 'grupos' %}"><span class="fa fa-users"></span> <span class="xn-text">Grupos</span></a></li>
                            <li class="{% if pagina == 'clases' %}active{% endif %}"><a href="{% url 'clases' %}"><span class="fa fa-book"></span>Agregar Clases</a></li>
                        </ul>
                    </li>
                    <li class="{% if pagina == 'cicloescolar' %}active{% endif %}">
                        <a href="{% url 'cicloescolar' %}"><span class="fa fa-calendar"></span> <span class="xn-text">Ciclo Escolar</span></a>
                    </li>
                    <li class="{% if pagina == 'sucursales' %}active{% endif %}">
                        <a href="{% url 'sucursales' %}"><span class="fa fa-building-o"></span> <span class="xn-text">Surcusal</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-bar-chart-o"></span> <span class="xn-text">Reportes</span></a>
                        <ul>
                            <li class="{% if pagina == 'reportes' %}active{% endif %}"><a href="{% url 'reportes' %}"><span class="fa fa-book"></span> Reporte</a></li>
                            <li class="{% if pagina == 'historico' %}active{% endif %}"><a href="{% url 'historico' %}"><span class="glyphicon glyphicon-signal"></span> Historico</a></li>
                        </ul>
                    </li>
                    <li class="{% if pagina == 'excel' %}active{% endif %}">
                        <a href="{% url 'generarExcel' %}"><span class="fa fa-file-excel-o"></span> <span class="xn-text">Generar Excel</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-money"></span> <span class="xn-text">Pagos</span></a>
                        <ul>
                            <li class="{% if pagina == 'profesorespagos' %}active{% endif %}"><a href="{% url 'profesorespagos' %}"><span class="fa fa-mortar-board"></span>Profesores</a></li>
                            <li class="{% if pagina == 'alumnospagos' %}active{% endif %}"><a href="{% url 'listagrupo' %}"><span class="glyphicon glyphicon-signal"></span>Alumnos</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <li class="xn-icon-button btn-raised pull-right" style="position:relative;left:-10px">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out">Salir</span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li class="active">{{titulo}}</li>
                </ul>
                <!-- END BREADCRUMB -->

                <div class="page-title">
                    <h2><span class="{{icono}}"></span> {{titulo}}</h2>
                </div>

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    {% block contenido %}
                    {% endblock contenido %}
                    <!--
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel Title</h3>
                                </div>
                                <div class="panel-body">
                                    Panel body
                                </div>
                            </div>

                        </div>
                    </div>
                    -->
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn responsive" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span><strong>¿Deseas salir?</strong></div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="{% url 'logout' %}" class="btn btn-success btn-lg">Sí</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
    {% block js %}
        <!-- START PRELOADS -->
        <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->

        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js' %}"></script>

        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'  %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->

        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
    {% endblock js %}

    {% block scripts %}
        <!-- aqui va funciones de javascript personalizadas -->
    {% endblock scripts %}

    </body>

</html>






